<p-panel header="Contact us">
  <div class="contactIn_header">
    <h3>Contact Details</h3>
    <p>
        <i class="fa fa-map-marker" aria-hidden="true"></i>516-520 Rafael Tower, Saket Square, Greater Kailash Road,Old Palasia, Indore - 452001, Madhya Pradesh, India.
    </p>
    <p>
        <i class="fa fa-phone" aria-hidden="true"></i> 0731 407 0712</p>
        <p>Please send mail on
          <a (click)="openDialogForMail()">
              <i class="fa fa-envelope-o" aria-hidden="true"></i> hr@aartek.co.in</a>
      </p>
</div>
</p-panel>