<p-panel header="About us">
    <h3>AARTEK Software Solutions is a leading information technology consulting and services provider,
        providing end-to-end solutions for diversified clients from varied industry. We have been a pioneer in adopting technology to ensure enhanced customer choice,
        convenience and gratification.
    </h3>
    <hr>
    <h4>MULTI CAPABILITY</h4>
    <code>We aim to provide cost effective web based back office solutions to various industries.
        Our solutions are reckoned the best in understanding the customer requirement.
        Developing new software creates profound corporate change that must be anticipated,
        managed and nurtured.
    </code>
    <br>
    <code>
        We take Software projects as the challenge and opportunity to prove our caliber in streamlined and optimized process flow,
        Deliver excellent, creative and innovative services is not only our work it's our passion. 
        We employ a large pool of software engineers coming from different backgrounds.
        We are able to balance product development efforts and project duration to your business software needs.
    </code>
    <br>
    <hr>
    <h4>AARTEK – WHY WE??</h4>
    <code>We believe in the simple principles of customer first.
        Our core values have helped us to continuously remain preferred partners to large
        organizations and some fortune 500 companies for years together.
        Our main vision is to make customers successful by being collaborators in engineering
        technology solutions. Put Passion and Commitment to Work.
        Just as an organization requires the right talent to drive its business objectives, 
        people require the right environment to accomplish their career goals. At AARTEK,
        you would be welcomed with a feeling of being at the right place.
        You will be working alongside outstanding leaders and would be driven by endless opportunities
        for growth, exposure to cutting-edge technologies, and learning possibilities.
    </code>
</p-panel>